@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white-color-1--);
    max-width: 1920 1080;
    color: var(--black-color-1--)
}

h3 {
    color: var(--black-color-1--);
}

.contain {
    padding-top: 10px;
    background-color: var(--white-color-2--);
}

#bootstrap-overrides a {
    color: var(--black-color-1--);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

:root {
    --white-color-1--: #fafbfc;
    --white-color-2--: #ffffff;
    --black-color-1--: #192a3d;
    --blue-color-1--: #2872fa;
    --blue-color-2--: #1e90ff;
}

#bootstrap-overrides .nav-item a:hover {
    color: var(--blue-color-1--);
}

#bootstrap-overrides .container .nav-start {
    color: var(--black-color-1--);
    font-size: 25px;
}

#bootstrap-overrides .container .nav-start:hover {
    color: var(--blue-color-1--);
}

#bootstrap-overrides .active {
    color: var(--blue-color-1--);
}

.container .nav-start {
    font-weight: 700;
    font-size: 30px;
    color: var(--black-color-1--);
}

.container .nav-start:hover{
    color: var(--blue-color-2--);
}

.container .nav-item {
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
}

.heading-3 {
    font-weight: 700;
    font-size: 30px;
}

.container .background{
    background-image: url(./img/Tren-duong-bang.jpg);
    height: 450px;
    background-size: cover;
    background-position: 0;
    text-align: center;
    padding-top: 150px;
}

.container .background h3 {
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 70px;
}

.container .background button {
    font-size: 15px;
    font-weight: 600;
    width: 125px;
    height: 40px;
}

.row.book-info .img-book-cover{
    width: 394px;
    height: 450px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}

.row.book-info .book-item {
    text-align: center;
    padding-bottom: 40px;
}

.row.book-info .book-item:last-child{
    padding-bottom: 0px;
    margin-bottom: 75px;
}

.heading {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 35px;
}


