 /* * {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
} */
/* .body {
  background-color: rgba(215, 210, 210, 0.942);
} */
 /* .container {
    max-width: 80%; 
    margin: 0 auto;    
}  */

.header {
    display: flex;
    margin-top: 8px;
    justify-content: space-around;
    padding: 12px;
}

/* .nav-bar {
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.nav-bar a, .title a  {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}

.nav-bar a:hover, .title a:hover  {
    color: rgb(29, 60, 182);
    transform: scale(1.1);

} */

.SignUpForm {
    margin-top: 70px; 
    display: flex;
    flex-direction: column;
}

h2 {
    font: weight 900px;

}
.text {
  color: rgba(82, 81, 83, 0.977);
  font-style: italic; 
  margin-bottom: 4px ;
}
#form {
    margin-top: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.name, .pass, .submit {
  margin: 20px;
}

#username, #password, #name, #email{
  padding: 8px; 
  width: 80%; 
  transition: all 0.01s;
  border-radius: 4px;
}

#username:focus, #password:focus {
  border: 2px solid rgba(130, 163, 246, 0.951);
}

.submit {
  align-items: center;
  margin: 20px 0;
  left: 16px;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.submit:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.submit:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submit:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}








.btn {
  gap: 20px;
  display: flex;
}

.facebook-btn {
    background-color: #3b5998;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .facebook-btn i {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .facebook-btn:hover {
    background-color: #2d4373;
  }

  .twitter-btn {
    background-color: #1da1f2;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .twitter-btn i {
    margin-right: 8px;
    font-size: 20px;
  }
  
  .twitter-btn:hover {
    background-color: #0c8bd6;
  }